body
{background-color:green}
main
{font-family: Times New Roman}
main
{font-size: 26}
body
{font-size: 30}
a:hover{
    color: black;
    font-size: 50px;
    border: black 5px dashed;
    transform: all 5s ease-out
    
}


