body
{background-color:green}
main
{font-family: Monospace}
main
{font-size: 40}
body
{font-size: 40}
{font-family: Monospace}
body
a:hover{
    color: black;
    font-size: 50px;
    border: black 5px dashed;
    transform: all 5s ease-out}
    img{
        display:block;
        margin:auto;
        justify-content: center;
    }
footer 

                                                    
main
img{
    
}
a{
    text-decoration: none
}


    

    
